---
import TwitterProfileCard from "./TwitterProfileCard.astro";

const profiles = [
  {
    banner: "https://pbs.twimg.com/profile_banners/15180856/1627417089/600x200",
    description:
      "DX at @ShopifyEng. Web Platform Advocate. Craving simplicity, finding it nowhere. Internetrovert 🏳️‍🌈 He/him.",
    image:
      "https://pbs.twimg.com/profile_images/1568254009634430976/Q0jsTVnt_400x400.jpg",
    name: "Surma",
    handle: "@DasSurma",
    following: "1,337",
    followers: "39.5K",
    verified: false,
    opacity: 0.4,
    animationDelay: "0.5s",
    animationDutation: "0.7s",
  },
  {
    banner:
      "https://pbs.twimg.com/profile_banners/813333008/1606799337/1500x500",
    description:
      "Stupid like a fox • Director of Eng, Web Infra @google, O'Reilly Author • OpenJS Board Member http://github.com/sdras, http://codepen.io/sdras, she/her",
    image:
      "https://pbs.twimg.com/profile_images/1281071936605323266/wc1KRZLK_400x400.jpg",
    name: "Sarah Drasner",
    handle: "@sarah_edo",
    following: "2874",
    followers: "275.1K",
    verified: false,
    opacity: 0.6,
    animationDelay: "0.4s",
    animationDutation: "0.6s",
  },
  {
    banner: "https://pbs.twimg.com/profile_banners/14216123/1637266410/600x200",
    description:
      "Host of @madmoneyoncnbc and I run the CNBC Investing Club. Follow along and join my mailing list at https://cnbc.com/investingclub/joinjim",
    image:
      "https://pbs.twimg.com/profile_images/1461426655046606860/PzlSk4fZ_400x400.jpg",
    name: "Jim Cramer",
    handle: "@jimcramer",
    following: "693",
    followers: "2M",
    verified: true,
    opacity: 0.9,
    animationDelay: "0.2s",
    animationDutation: "0.6s",
  },
  {
    banner: "https://pbs.twimg.com/profile_banners/33836629/1407117611/600x200",
    description:
      "Building a kind of JARVIS @ OреոΑӏ. Previously Director of AI @ Tesla, CS231n, PhD @ Stanford. I like to train large deep neural nets 🧠🤖💥",
    image:
      "https://pbs.twimg.com/profile_images/1296667294148382721/9Pr6XrPB_400x400.jpg",
    name: "Andrej Karpathy",
    handle: "@karpathy",
    following: "830",
    followers: "750.4K",
    verified: true,
    opacity: 1,
    primary: true,
    animationDelay: "0s",
    animationDutation: "0.5s",
  },
  {
    banner: "https://pbs.twimg.com/profile_banners/3840/1642546186/600x200",
    description:
      "World's Greatest Moderator (TM), Angel investor: http://thesyndicate.com @twistartups @theallinpod @launch @inside",
    image:
      "https://pbs.twimg.com/profile_images/1483572454979031040/HZgTqHjX_400x400.jpg",
    name: "Jason C",
    handle: "@jason",
    following: "15.7k",
    followers: "731K",
    verified: true,
    opacity: 0.9,
    animationDelay: "0.2s",
    animationDutation: "0.6s",
  },
  {
    banner: "https://pbs.twimg.com/profile_banners/5768872/1650896822/600x200",
    description:
      "Family First. CEO of @Vaynermedia. 🐈‍⬛ Creator of @veefriends. Investor in Twitter, venmo, FB & more. Die hard @NYJets fan. @winetexts @vaynersports",
    image:
      "https://pbs.twimg.com/profile_images/1658127153450328068/G4GOSuZB_400x400.jpg",
    name: "Gary Vaynerchuk",
    handle: "@garyvee",
    following: "20.7k",
    followers: "3.1M",
    verified: true,
    opacity: 0.6,
    animationDelay: "0.4s",
    animationDutation: "0.6s",
  },
  {
    banner: "https://pbs.twimg.com/profile_banners/1322691/1539047274/600x200",
    description:
      "Co-founder of Neil Patel Digital. New York Times bestselling author, top 100 entrepreneur under 30 by Obama, and top 10 marketer by Forbes.",
    image:
      "https://pbs.twimg.com/profile_images/1502690164744732674/3w3KcZkt_400x400.jpg",
    name: "Neil Patel",
    handle: "@neilpatel",
    following: "89",
    followers: "446.8K",
    verified: true,
    opacity: 0.4,
    animationDelay: "0.5s",
    animationDutation: "0.7s",
  },
];
---

<section class="p-4">
  <div
    class="h-[calc(100vh-2rem)] rounded-2xl bg-[#98C3EB] overflow-hidden relative"
  >
    <svg
      class="absolute inset-0 w-full h-auto top-[40%] sm:top-[20%] lg:top-0 z-10"
      width="1639"
      height="943"
      viewBox="0 0 1639 943"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <mask id="path-1-inside-1_9_7" fill="white">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0 942.811L180.283 942.811H385.075H592.597H800.119H1007.64H1215.16H1419.96H1627.48L1639 942.811V-1.70031e-07C1635.16 3.22122 1631.32 6.3847 1627.48 9.47965C1559.21 67.7012 1490.13 103.42 1419.96 104.492C1403.69 104.236 1387.41 102.014 1371.13 99.7914C1319.06 92.6851 1266.96 85.5727 1215.16 142.711C1181.61 178.161 1148.73 239.94 1116.14 301.163C1079.78 369.48 1043.79 437.105 1007.64 466.68C940.565 523.888 871.643 449.013 803.726 375.228C802.523 373.921 801.321 372.615 800.119 371.311C798.72 369.773 797.32 368.234 795.919 366.694C729.001 293.121 660.799 218.137 592.597 238.08C555.027 248.499 517.208 287.806 479.095 327.419C447.96 359.78 416.628 392.345 385.075 409.53C316.811 446.32 248.274 410.601 180.283 333.092C155.165 306.174 130.457 274.472 105.966 243.048C70.3843 197.394 35.2601 152.328 0 123.371V942.811Z"
        ></path>
      </mask>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M0 942.811L180.283 942.811H385.075H592.597H800.119H1007.64H1215.16H1419.96H1627.48L1639 942.811V-1.70031e-07C1635.16 3.22122 1631.32 6.3847 1627.48 9.47965C1559.21 67.7012 1490.13 103.42 1419.96 104.492C1403.69 104.236 1387.41 102.014 1371.13 99.7914C1319.06 92.6851 1266.96 85.5727 1215.16 142.711C1181.61 178.161 1148.73 239.94 1116.14 301.163C1079.78 369.48 1043.79 437.105 1007.64 466.68C940.565 523.888 871.643 449.013 803.726 375.228C802.523 373.921 801.321 372.615 800.119 371.311C798.72 369.773 797.32 368.234 795.919 366.694C729.001 293.121 660.799 218.137 592.597 238.08C555.027 248.499 517.208 287.806 479.095 327.419C447.96 359.78 416.628 392.345 385.075 409.53C316.811 446.32 248.274 410.601 180.283 333.092C155.165 306.174 130.457 274.472 105.966 243.048C70.3843 197.394 35.2601 152.328 0 123.371V942.811Z"
        fill="url(#paint0_linear_9_7)"
        fill-opacity="0.1"></path>
      <path
        d="M180.283 942.811V945.811V942.811ZM0 942.811H-3V945.811H-1.01565e-06L0 942.811ZM1627.48 942.811V945.811V942.811ZM1639 942.811V945.811H1642V942.811H1639ZM1639 1.70031e-07H1642V-6.43606L1637.07 -2.29755L1639 1.70031e-07ZM1627.48 9.47965L1625.6 7.1432L1625.56 7.16969L1625.53 7.19709L1627.48 9.47965ZM1419.96 104.492L1419.91 107.491L1419.95 107.492L1420 107.491L1419.96 104.492ZM1371.13 99.7914L1371.53 96.819L1371.13 99.7914ZM1215.16 142.711L1217.34 144.773L1217.36 144.749L1217.39 144.725L1215.16 142.711ZM1116.14 301.163L1118.79 302.572L1116.14 301.163ZM1007.64 466.68L1005.74 464.358L1005.72 464.377L1005.69 464.397L1007.64 466.68ZM803.726 375.228L801.518 377.259L803.726 375.228ZM800.119 371.311L797.901 373.33L797.907 373.336L797.913 373.343L800.119 371.311ZM795.919 366.694L793.7 368.712V368.712L795.919 366.694ZM592.597 238.08L593.399 240.971L593.419 240.965L593.439 240.959L592.597 238.08ZM479.095 327.419L476.934 325.339L479.095 327.419ZM385.075 409.53L386.498 412.171L386.51 412.164L385.075 409.53ZM180.283 333.092L182.539 331.113L182.508 331.079L182.477 331.045L180.283 333.092ZM105.966 243.048L103.599 244.892L105.966 243.048ZM0 123.371L1.90395 121.052L-3 117.025V123.371H0ZM180.283 939.811L1.01565e-06 939.811L-1.01565e-06 945.811L180.283 945.811V939.811ZM385.075 939.811H180.283V945.811H385.075V939.811ZM592.597 939.811H385.075V945.811H592.597V939.811ZM800.119 939.811H592.597V945.811H800.119V939.811ZM1007.64 939.811H800.119V945.811H1007.64V939.811ZM1215.16 939.811H1007.64V945.811H1215.16V939.811ZM1419.96 939.811H1215.16V945.811H1419.96V939.811ZM1627.48 939.811H1419.96V945.811H1627.48V939.811ZM1639 939.811L1627.48 939.811V945.811L1639 945.811V939.811ZM1636 1.70031e-07V942.811H1642V1.70031e-07H1636ZM1629.36 11.8161C1633.22 8.70763 1637.08 5.53114 1640.93 2.29755L1637.07 -2.29755C1633.25 0.911299 1629.42 4.06178 1625.6 7.1432L1629.36 11.8161ZM1420 107.491C1491.18 106.404 1560.92 70.189 1629.42 11.7622L1625.53 7.19709C1557.51 65.2134 1489.08 100.436 1419.91 101.492L1420 107.491ZM1370.72 102.764C1386.97 104.982 1403.43 107.233 1419.91 107.491L1420 101.492C1403.95 101.24 1387.85 99.046 1371.53 96.819L1370.72 102.764ZM1217.39 144.725C1242.85 116.63 1268.23 104.473 1293.55 100.116C1319.03 95.7317 1344.61 99.1998 1370.72 102.764L1371.53 96.819C1345.58 93.2768 1319.08 89.6355 1292.53 94.2029C1265.84 98.7976 1239.27 111.653 1212.94 140.696L1217.39 144.725ZM1118.79 302.572C1151.46 241.196 1184.14 179.858 1217.34 144.773L1212.98 140.648C1179.09 176.464 1146 238.684 1113.49 299.753L1118.79 302.572ZM1009.54 469.001C1028.02 453.883 1046.27 429.223 1064.36 400.03C1082.48 370.787 1100.62 336.709 1118.79 302.572L1113.49 299.753C1095.3 333.934 1077.26 367.827 1059.26 396.869C1041.23 425.962 1023.41 449.902 1005.74 464.358L1009.54 469.001ZM801.518 377.259C835.379 414.045 869.894 451.58 904.438 472.638C921.76 483.198 939.323 489.768 957.01 489.901C974.777 490.035 992.344 483.67 1009.59 468.962L1005.69 464.397C989.402 478.293 973.199 484.023 957.055 483.901C940.832 483.779 924.343 477.745 907.561 467.515C873.894 446.991 839.99 410.195 805.933 373.196L801.518 377.259ZM797.913 373.343C799.114 374.647 800.316 375.953 801.518 377.259L805.933 373.196C804.731 371.89 803.528 370.583 802.326 369.278L797.913 373.343ZM793.7 368.712C795.101 370.252 796.501 371.792 797.901 373.33L802.338 369.291C800.939 367.754 799.539 366.215 798.139 364.675L793.7 368.712ZM593.439 240.959C626.161 231.391 659.248 244.455 692.94 269.719C726.606 294.963 760.185 331.864 793.7 368.712L798.139 364.675C764.735 327.95 730.754 290.574 696.539 264.918C662.35 239.282 627.235 224.826 591.755 235.2L593.439 240.959ZM481.257 329.499C500.339 309.666 519.214 290.052 537.993 274.087C556.795 258.102 575.243 246.006 593.399 240.971L591.796 235.189C572.381 240.573 553.134 253.34 534.106 269.516C515.055 285.713 495.965 305.559 476.934 325.339L481.257 329.499ZM386.51 412.164C418.557 394.711 450.231 361.746 481.257 329.499L476.934 325.339C445.688 357.814 414.699 389.98 383.64 406.895L386.51 412.164ZM178.028 335.07C212.16 373.98 246.656 402.676 281.438 416.949C316.366 431.281 351.512 431.026 386.498 412.171L383.652 406.889C350.374 424.824 317.12 425.105 283.716 411.398C250.165 397.631 216.397 369.712 182.539 331.113L178.028 335.07ZM103.599 244.892C128.072 276.292 152.864 308.105 178.09 335.138L182.477 331.045C157.466 304.243 132.842 272.652 108.332 241.203L103.599 244.892ZM-1.90395 125.689C33.0429 154.389 67.9486 199.149 103.599 244.892L108.332 241.203C72.8199 195.639 37.4773 150.267 1.90395 121.052L-1.90395 125.689ZM3 942.811V123.371H-3V942.811H3Z"
        fill="url(#paint1_linear_9_7)"
        fill-opacity="0.24"
        mask="url(#path-1-inside-1_9_7)"></path>
      <defs>
        <linearGradient
          id="paint0_linear_9_7"
          x1="819.5"
          y1="0"
          x2="819.5"
          y2="942.811"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white"></stop>
          <stop offset="1" stop-color="white" stop-opacity="0"></stop>
        </linearGradient>
        <linearGradient
          id="paint1_linear_9_7"
          x1="819.5"
          y1="0"
          x2="819.5"
          y2="942.811"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white"></stop>
          <stop offset="1" stop-color="white" stop-opacity="0"></stop>
        </linearGradient>
      </defs>
    </svg>

    <div class="py-16 sm:pt-24 px-4 sm:px-4 text-center relative z-20">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="text-white w-10 sm:w-16 h-10 sm:h-16 mx-auto mb-8 fade-in fade-in-1"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23Z"
        ></path></svg
      >
      <h1
        class="text-blue-950 text-4xl lg:text-7xl font-black max-w-5xl mx-auto fade-in fade-in-2 tracking-tight"
      >
        Unlock the Power of Influential Thought Leaders on Twitter
      </h1>
      <button
        class="bg-blue-950 text-white px-4 py-2 rounded-lg font-semibold mt-6 fade-in fade-in-3"
        >Find Top Twitter People</button
      >
    </div>
    <div
      class="w-full py-8 px-4 flex space-x-4 items-center flex-nowrap flex-none min-h-min justify-center relative z-20"
    >
      {
        profiles.map((profile) => (
          <TwitterProfileCard
            primary={profile.primary}
            description={profile.description}
            image={profile.image}
            name={profile.name}
            handle={profile.handle}
            following={profile.following}
            followers={profile.followers}
            verified={profile.verified}
            opacity={profile.opacity}
            animationDelay={profile.animationDelay}
            animationDutation={profile.animationDutation}
          />
        ))
      }
    </div>
  </div>
</section>
<style>
  .fade-in {
    animation-name: fade;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation-name: fade;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
