---
import TwitterProfileCard from "./TwitterProfileCard.astro";

const profiles = [
  {
    banner: "https://pbs.twimg.com/profile_banners/15180856/1627417089/600x200",
    description:
      "DX at @ShopifyEng. Web Platform Advocate. Craving simplicity, finding it nowhere. Internetrovert 🏳️‍🌈 He/him.",
    image:
      "https://pbs.twimg.com/profile_images/1568254009634430976/Q0jsTVnt_400x400.jpg",
    name: "Surma",
    handle: "@DasSurma",
    following: "1,337",
    followers: "39.5K",
    verified: false,
    opacity: 0.4,
    animationDelay: "0.5s",
    animationDutation: "0.7s",
  },
  {
    banner:
      "https://pbs.twimg.com/profile_banners/813333008/1606799337/1500x500",
    description:
      "Stupid like a fox • Director of Eng, Web Infra @google, O'Reilly Author • OpenJS Board Member http://github.com/sdras, http://codepen.io/sdras, she/her",
    image:
      "https://pbs.twimg.com/profile_images/1281071936605323266/wc1KRZLK_400x400.jpg",
    name: "Sarah Drasner",
    handle: "@sarah_edo",
    following: "2874",
    followers: "275.1K",
    verified: false,
    opacity: 0.6,
    animationDelay: "0.4s",
    animationDutation: "0.6s",
  },
  {
    banner: "https://pbs.twimg.com/profile_banners/14216123/1637266410/600x200",
    description:
      "Host of @madmoneyoncnbc and I run the CNBC Investing Club. Follow along and join my mailing list at https://cnbc.com/investingclub/joinjim",
    image:
      "https://pbs.twimg.com/profile_images/1461426655046606860/PzlSk4fZ_400x400.jpg",
    name: "Jim Cramer",
    handle: "@jimcramer",
    following: "693",
    followers: "2M",
    verified: true,
    opacity: 0.9,
    animationDelay: "0.2s",
    animationDutation: "0.6s",
  },
  {
    banner: "https://pbs.twimg.com/profile_banners/33836629/1407117611/600x200",
    description:
      "Building a kind of JARVIS @ OреոΑӏ. Previously Director of AI @ Tesla, CS231n, PhD @ Stanford. I like to train large deep neural nets 🧠🤖💥",
    image:
      "https://pbs.twimg.com/profile_images/1296667294148382721/9Pr6XrPB_400x400.jpg",
    name: "Andrej Karpathy",
    handle: "@karpathy",
    following: "830",
    followers: "750.4K",
    verified: true,
    opacity: 1,
    primary: true,
    animationDelay: "0s",
    animationDutation: "0.5s",
  },
  {
    banner: "https://pbs.twimg.com/profile_banners/3840/1642546186/600x200",
    description:
      "World's Greatest Moderator (TM), Angel investor: http://thesyndicate.com @twistartups @theallinpod @launch @inside",
    image:
      "https://pbs.twimg.com/profile_images/1483572454979031040/HZgTqHjX_400x400.jpg",
    name: "Jason C",
    handle: "@jason",
    following: "15.7k",
    followers: "731K",
    verified: true,
    opacity: 0.9,
    animationDelay: "0.2s",
    animationDutation: "0.6s",
  },
  {
    banner: "https://pbs.twimg.com/profile_banners/5768872/1650896822/600x200",
    description:
      "Family First. CEO of @Vaynermedia. 🐈‍⬛ Creator of @veefriends. Investor in Twitter, venmo, FB & more. Die hard @NYJets fan. @winetexts @vaynersports",
    image:
      "https://pbs.twimg.com/profile_images/1658127153450328068/G4GOSuZB_400x400.jpg",
    name: "Gary Vaynerchuk",
    handle: "@garyvee",
    following: "20.7k",
    followers: "3.1M",
    verified: true,
    opacity: 0.6,
    animationDelay: "0.4s",
    animationDutation: "0.6s",
  },
  {
    banner: "https://pbs.twimg.com/profile_banners/1322691/1539047274/600x200",
    description:
      "Co-founder of Neil Patel Digital. New York Times bestselling author, top 100 entrepreneur under 30 by Obama, and top 10 marketer by Forbes.",
    image:
      "https://pbs.twimg.com/profile_images/1502690164744732674/3w3KcZkt_400x400.jpg",
    name: "Neil Patel",
    handle: "@neilpatel",
    following: "89",
    followers: "446.8K",
    verified: true,
    opacity: 0.4,
    animationDelay: "0.5s",
    animationDutation: "0.7s",
  },
];
---

<section class="p-4">
  <div class="h-[calc(100vh-2rem)] rounded-2xl bg-[#98C3EB] overflow-hidden">
    <div class="py-16 sm:pt-24 px-4 sm:px-4 text-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="text-white w-10 sm:w-16 h-10 sm:h-16 mx-auto mb-8 fade-in fade-in-1"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23Z"
        ></path></svg
      >
      <h1
        class="text-blue-950 text-4xl lg:text-7xl font-black max-w-5xl mx-auto fade-in fade-in-2 tracking-tight"
      >
        Unlock the Power of Influential Thought Leaders on Twitter
      </h1>
      <button
        class="bg-blue-950 text-white px-4 py-2 rounded-lg font-semibold mt-6 fade-in fade-in-3"
        >Find Top Twitter People</button
      >
    </div>
    <div
      class="w-full py-8 px-4 flex space-x-4 items-center flex-nowrap flex-none min-h-min justify-center relative"
    >
      {
        profiles.map((profile) => (
          <TwitterProfileCard
            primary={profile.primary}
            description={profile.description}
            image={profile.image}
            name={profile.name}
            handle={profile.handle}
            following={profile.following}
            followers={profile.followers}
            verified={profile.verified}
            opacity={profile.opacity}
            animationDelay={profile.animationDelay}
            animationDutation={profile.animationDutation}
          />
        ))
      }
    </div>
  </div>
</section>
<style>
  .fade-in {
    animation-name: fade;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation-name: fade;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
